[epydoc] # Epydoc section marker (required by ConfigParser)

# The list of objects to document.  Objects can be named using
# dotted names, module filenames, or package directory names.
# Alases for this option include "objects" and "values".
modules: temporaldrt

# The type of output that should be generated.  Should be one
# of: html, text, latex, dvi, ps, pdf.
output: pdf

# The path to the output directory.  May be relative or absolute.
target: ../api

### Generation options

# Whether or not parsing should be used to examine objects.
parse: yes

# Whether or not introspection should be used to examine objects.
introspect: yes

# The format for showing inheritance objects.
# It should be one of: 'grouped', 'listed', 'included'.
inheritance: grouped

# Whether or not to include private variables.  (Even if included,
# private variables will be hidden by default.)
private: yes

# Whether or not to list each module's imports.
imports: no

# Whether or not to includea a page with Epydoc log, containing
# effective option at the time of generation and the reported logs.
include-log: no


### Output options

# The documented project's name.
#name: nltk-drt

# The documented project's URL.
#url: http://code.google.com/p/nltk-drt/

# Whether each class should be listed in its own section when
# generating LaTeX or PDF output.
separate-classes: no

### API linking options

# Define a new API document.  A new interpreted text role
# will be created
#external-api: epydoc

### Graph options

# The list of graph types that should be automatically included
# in the output.  Graphs are generated using the Graphviz "dot"
# executable.  Graph types include: "classtree", "callgraph",
# "umlclasstree".  Use "all" to include all graph types
graph: umlclasstree

# The path to the Graphviz "dot" executable, used to generate
# graphs.
dotpath: /usr/bin/dot

# Specify the font used to generate Graphviz graphs.
# (e.g., helvetica or times).
graph-font: Helvetica

# Specify the font size used to generate Graphviz graphs.
graph-font-size: 10


### Return value options

# The condition upon which Epydoc should exit with a non-zero
# exit status. Possible values are error, warning, docstring_warning
#fail-on: error
